<!doctype html>
<html lang="sv">
  <head>
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fråga {{ question_index|add:1 }} / {{ total }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div class="create-container">
      {% if question_index|add:1 == total %}
      <form
        hx-post="{% url 'answer_survey' survey_result_id=survey_result_id question_index=question_index %}"
        hx-trigger="submit"
        hx-confirm="{{total_answers}} av {{total}} frågor besvarade, är du säker på att du vill skicka in svaren?"
      >
      {% else %}
      <form
        hx-post="{% url 'answer_survey' survey_result_id=survey_result_id question_index=question_index %}"
        hx-trigger="submit"
      >
      {% endif %}
        <!-- prettier-ignore -->
        {% csrf_token %}
        <h2>{{ question.question }}</h2>

        {% if question.question_format == "slider" %}
        <input type="hidden" name="question_format" value="slider" />
        <input
          type="range"
          name="slider"
          min="0"
          max="10"
          step="0.1"
          value="{{ slider_answer }}"
          required
        />

        {% elif question.question_format == "text" %}
        <input type="hidden" name="question_format" value="text" />
        <input type="text" name="text" value="{{ text_answer }}" required />

        {% elif question.question_format == "yesno" %}
        <input type="hidden" name="question_format" value="yesno" />
        <label>
          {% if yes_no_answer %}
          <input type="radio" name="yesno" value="True" checked required />
          {% else %}
          <input type="radio" name="yesno" value="True" required />
          {% endif %} Ja
        </label>
        <label>
          {% if yes_no_answer %}
          <input type="radio" name="yesno" value="False" required />
          {% elif yes_no_answer == False %}
          <input type="radio" name="yesno" value="False" checked required />
          {% else %}
          <input type="radio" name="yesno" value="False" required />
          {% endif %} Nej
        </label>

        {% elif question.question_format == "multiplechoice" %}
        <input type="hidden" name="question_format" value="multiplechoice" />
        <!-- prettier-ignore -->
        {% for option, is_selected in multiple_choice_pairs %}
        <label>
          {% if is_selected %}
          <input
            type="checkbox"
            name="multiplechoice"
            value="{{ option }}"
            checked
          />
          {% else %}
          <input type="checkbox" name="multiplechoice" value="{{ option }}" />
          {% endif %} {{ option }}
        </label>
        <br />
        {% endfor %} {% endif %}

        <div style="margin-top: 15px;">
          <label>
            Har du någon annan kommentar?
            <input type="text" name="comment" value="{{ comment }}" />
          </label>
        </div>

        <div>
          {% if question_index|add:1 == total %}
          <button type="submit">Skicka in svar</button>
          <input type="hidden" name="submit_answers" value="1" />
          {% else %}
          <button type="submit">Nästa</button>
          {% endif %}
        </div>
      </form>

      <div>
        <p>{{ question_index|add:1 }} / {{ total }}</p>
      </div>
      <div>
        <a
          href="{% url 'answer_survey' survey_result_id prev_question_index %}"
          style="margin-right: 80px; font-size: 2.5rem;"
        >
          &lt;
        </a>
        <a
          href="{% url 'answer_survey' survey_result_id next_question_index %}"
          style="font-size: 2.5rem;"
        >
          &gt;
        </a>
      </div>
    </div>
  </body>
</html>
