<!DOCTYPE html>
{% comment %} Sidepanel code {% endcomment %}
<div class="sidepanel" id="panel">
  <a href="#">Startsida</a>
  <a href="#">Obesvarade enkäter</a>
  <a href="#">Mina enkäter</a>
  <a href="#">Skapa enkät</a>
  <a href="#">Se resultat</a>
  <a href="#">Min organisation</a>
  <a href="#">Inställningar</a>
</div>

<script>
  function openPanel() {
    var x = document.getElementById("panel");

    if (x.style.transform === "" || x.style.transform === "translateX(100%)") {
      // Open the sidepanel
      x.style.transform = "translateX(0)"; // Slide the panel in
      x.style.visibility = "visible"; // Make it visible
      /*x.style.opacity = "1"; // Fade in*/
    } else {
      // Close the sidepanel
      x.style.transform = "translateX(100%)"; // Slide the panel out
      x.style.visibility = "hidden"; // Make it invisible
      /*x.style.opacity = "0"; // Fade out*/
    }
  }
</script>
