{% extends "master.html" %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{pagetitle}}{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <!-- Top Navigation Menu -->
    <div class="topbar">
      <div class="topbar-logo">
        <a href="#home"
          ><img
            src="{% static 'logo.png' %}"
            alt="Medarbetarpuls"
            class="topbar-logo"
        /></a>
      </div>

      <div class="pagetitle">{{pagetitle}}</div>

      <div class="menu">
        <a href="javascript:void(0);" onclick="openPanel()"> ☰ </a>
      </div>
      {% include 'sidepanel.html' %}
    </div>

    {% endblock %}
  </body>
</html>
